@import "tailwindcss";

:root {
  --background: #ffebdf;
  --foreground: #FFF6F6;
  --card-pink: #F875AA;
  --card-blue: #AEDEFC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
